extends layout

block content
  div#intro-modal.modal.hide.fade
    div.modal-header
      h3 Welcome to Free Hive Online!
    div.modal-body
      p Hive is an awesome tile boardgame that has been re-made here using modern browser technologies.
      p Instructions to be added!
      a.btn(href="#", data-dismiss="modal") Close
  div#container
